# Ignore lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.njsproj
*.sln
*.sw?

# Ignore build output folders
dist/
build/
out/
public/
.react-router