@import "tailwindcss";

@theme {
  --color-background: rgb(248 250 252);
  --color-primary: var(--color-blue-600);
  --color-primary-foreground: var(--color-blue-50);

  --font-primary: "Montserrat", Arial, sans-serif;
  --font-secondary: var(--font-sans);
}
