@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-background: rgb(248 250 252);
  --color-brand: var(--color-blue-600);

  --color-brand-50: var(--color-blue-50);
  --color-brand-100: var(--color-blue-100);
  --color-brand-200: var(--color-blue-200);
  --color-brand-300: var(--color-blue-300);
  --color-brand-400: var(--color-blue-400);
  --color-brand-500: var(--color-blue-500);
  --color-brand-600: var(--color-blue-600);
  --color-brand-700: var(--color-blue-700);
  --color-brand-800: var(--color-blue-800);
  --color-brand-900: var(--color-blue-900);
  --color-brand-950: var(--color-blue-950);
  --color-brand-foreground: var(--color-blue-50);

  --color-sidebar-and-header-background: rgb(254 254 254);
  --color-inactive-badge: rgb(240 244 254);
  --color-text-base: rgb(33 36 39);
  --color-bg-results-tabs: rgb(249 249 249);

  /* Icon Colors */
  --color-icon-pdf: rgb(217 45 32);
  --color-icon-xls: rgb(7 148 85);
  --color-icon-doc: rgb(21 94 239);
  --color-icon-other: var(--color-gray-600);

  /* Other colors */
  --color-text-error: var(--color-red-700);
  --color-bg-error: var(--color-red-500);
  --color-bg-success: var(--color-green-500);
  --color-bg-warning: var(--color-yellow-500);

  --font-brand: "Montserrat", Arial, sans-serif;
  --font-secondary: "Poppins", var(--font-sans);
}
